<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>
        function search(){
            if ($('#search').val() == ''){
                alert('검색어를 입력해주세요!') // 키워드를 입력하지 않으면 검색이 작동하지 않도록 간단한 장치를 했습니다. 실제로는 입력받은 키워드의 데이터 크기를 찾아야 한다네요.
            } else{
                let keyword = $('#search').val()
                $.ajax({
                    type: "GET",
                    url: "/mnt?mnt_give="+keyword,
                    data: {},
                    success: function(response){
                        alert(response["msg"])
                        console.log(response) // 검색어를 입력한 후, 콘솔창에 데이터가 잘 들어왔는지 확인해 봅시다.
                    }
                })
            }
        }
    </script>
    <title>Title</title>
    <style>
        .wrap{
            max-width: 1000px;
            width: 95%;
            margin: 30px auto 30px auto;
        }
        .mycards {
            max-width: 1000px;
            width: 95%;
            margin: 30px auto 30px auto;
        }
    </style>
</head>
<body>
<div class="wrap">
    <ul>찾으실 명산을 입력해주세요.</ul>
    <ul><input id="search" type="text" placeholder="검색어 입력"><button onclick="search()">search</button></ul>
</div>
<div class="mycards">
    <div class="row row-cols-1 row-cols-md-5 g-4" id="cards-box">
        <div class="col">
            <div class="card h-100">
                    <img src="https://i.imgur.com/wVQ10Wi.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="mtname">가리산 산이름/mntiname</h5>
                        <p class="mtsubinfo">소양호에서 폭포 따라 정상까지 산정보부제/subnm</p>
                        <p class="mtaddress">강원도 춘천시 북사면 물로리 주소/mntiadd</p>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>